:root {
    --orange-color: #FE7202;
    --dark-orange-color: #D27F33;
}

* {
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-image: url('../src/bg.jpeg');
    background-size: cover;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px 0 20px;
}

header nav h1 {
    font-size: 50px;
    color: var(--orange-color);
}

header nav ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style-type: none;
    font-size: 20px;
}

header nav ul li {
    cursor: pointer;
}

header nav .search {
    position: static;
}

header nav .search input {
    background: transparent;
    height: 40px;
    width: 250px;
    border-radius: 20px;
    border-color: var(--dark-orange-color);
    font-size: 17px;
    text-align: center;
}

header nav .search input::-webkit-input-placeholder {
    color: white;
    font-size: 17px;
    text-align: center;
}

header nav .search img {
    position: absolute;
    cursor: pointer;
    right: 30px;
    top: 26px;
}

main {
    display: flex;
    margin-top: 50px;
}

main>div {
    /* border: 1px solid red; */
    height: 80vh;
    width: 50%;
    margin: 0 20px;
}

.left .title {
    margin-top: 20px;
    font-size: 30px;
    display: flex;
    width: 70%;
}

.left .title h1 span {
    color: var(--orange-color);
    font-size: 100px;
}

.left p {
    margin-top: 30px;
    font-size: 25px;
    line-height: 35px;
    text-align: justify;
    width: 90%;
    margin-left: 20px;
    text-transform: capitalize;
}


.left .btn {
    margin-top: 70px;
}

.left .btn button {
    padding: 10px 50px;
    color: #fff;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background-color: var(--orange-color);
    font-size: 20px;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right form {
    background-color: black;
    height: 80vh;
    width: 30vw;
    border-radius: 20px;
    opacity: 0.8;
    margin-right: 20px;
}
.right form>.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 80%;
    margin: 30px 0 0 60px;
    border-radius: 20px;
    background-color: white;
    opacity: 1;
}

.title h2{
    color: var(--orange-color);
    font-size: 40px;
}

.right .input{
    margin-top: 40px;
    /* border: 1px solid red; */
    width: 33%;
    /* display: flex; */
    flex-direction: row;
    line-height: 70px;
    gap: 30px;
    
    margin-left: 20px;
}

.right .input input{
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    width: 490px;
    border-bottom: 1px solid var(--orange-color);
}

.right .input input::-webkit-input-placeholder{
    font-size: 20px;
    /* text-align: center; */
}

.right .btn{
    margin-top: 50px;
    margin-left: 30px;
}

.right .btn button{
    color: black;
    background-color: var(--orange-color);
    padding: 10px 200px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
}

.right .text{
    margin-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 30%;
    /* border: 1px solid red; */
}

.right .text p{
    font-size: 20px;
}

.right .text span{
    color: var(--orange-color);
    opacity: 1;
}

.icons-box{
    margin-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
}

.icons-box .title{
    font-size: 20px;
    word-spacing: 2px;
}

.icons-box .icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.icons-box img{
    margin: 0 20px;
    width: 40px;
}